<%= form_for @utopia, :url => { controller: "utopias", action: "create_public" }, :html => { :multipart => true } do |f| %>

  <% if @utopia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utopia.errors.count, "error") %> prohibited this utopia from being saved:</h2>

      <ul>
      <% @utopia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="col-2">
			<div class="field">
				<%= f.text_field :title, value: "Titel", required: "required" %>
			</div>
			<div class="field">
				<%= f.text_area :description, value: "Wie wäre Dortmund in Ihrer Utopie?", required: "required" %>
			</div>
		</div>
		<div class="col-2">
			<div id="photo_attachment_container">
			  <input class="file_input" value="Zeichnung oder Diagram" disabled>
		  	<div class="wrapper">
			    <%= f.file_field :image %>
		  	</div>
				<button>Bild Hochladen</button>
			</div>
			<div class="field">
				<%= f.text_area :realization, value: "Idealer Umsetzungsverlauf" %>
			</div>
			<div class="field">
				<%= f.text_area :risks, value: "Risiken und Nebenwirkungen" %>
			</div>
		</div>
	</div>
	
	<div class="row">
		<p>Wirkungsgrad Ihrer Utopie in den Bereichen:</p>
	</div>
	
	<div class="row float-all effects">
  	<div class="field">
	    <%= f.text_field :effect_body, value: "0-100%" %><br>
    	<%= f.label :effect_body, "Körper" %>
  	</div>
	  <div class="field">
    	<%= f.text_field :effect_economy, value: "0-100%" %><br>
    	<%= f.label :effect_economy, "Ökonomie" %>
	  </div>
	  <div class="field">
  	  <%= f.text_field :effect_politics, value: "0-100%" %><br>
    	<%= f.label :effect_politics, "Politik" %>
		</div>
		<div class="field">
			<%= f.text_field :effect_spirituality, value: "0-100%" %><br>
			<%= f.label :effect_spirituality, "Spiritualität" %>
		</div>
		<div class="field">
			<%= f.text_field :effect_technology, value: "0-100%" %><br>
			<%= f.label :effect_technology, "Technologie" %>
		</div>
		<div class="field">
			<%= f.text_field :effect_environment, value: "0-100%" %><br>
			<%= f.label :effect_environment, "Umwelt" %>
		</div>
		<div class="field">
			<%= f.text_field :effect_fun, value: "0-100%" %><br>
			<%= f.label :effect_fun, "Vergnügen" %>
		</div>
  </div>
  
  <div class="row float-all">
	  <div class="field">
  	  <%= f.text_field :email, value: "E-Mail-Adresse", type: "email", required: "required" %>
	  </div>
  	<div class="actions">
  		<button class="submit">>> Absenden << </button>
	  </div>
	</div>

<% end %>
