<p id="notice"><%= notice %></p>

<%= image_tag @utopia.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @utopia.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @utopia.description %>
</p>

<p>
  <strong>Realization:</strong>
  <%= @utopia.realization %>
</p>

<p>
  <strong>Risks:</strong>
  <%= @utopia.risks %>
</p>

<p>
  <strong>Effect body:</strong>
  <%= @utopia.effect_body %>
</p>

<p>
  <strong>Effect economy:</strong>
  <%= @utopia.effect_economy %>
</p>

<p>
  <strong>Effect politics:</strong>
  <%= @utopia.effect_politics %>
</p>

<p>
  <strong>Effect spirituality:</strong>
  <%= @utopia.effect_spirituality %>
</p>

<p>
  <strong>Effect technology:</strong>
  <%= @utopia.effect_technology %>
</p>

<p>
  <strong>Effect environment:</strong>
  <%= @utopia.effect_environment %>
</p>

<p>
  <strong>Effect fun:</strong>
  <%= @utopia.effect_fun %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utopia.email %>
</p>

<%= link_to 'Edit', edit_utopia_path(@utopia) %> |
<%= link_to 'Back', utopias_path %>
