<div class="roll" data-timer="10000">
	<% sort_keys = [:balance, :profit_abs, :profit_rel] %>
	<% sort_names = ['Kontostand', 'Gewinn absolut', 'Gewinn relativ'] %>
    <% sort_format = ['u', 'u', '%'] %>
    <% sort_keys.each_with_index do |sort_key, index| %>
    <div>
        <% ranks_sorted = @ranks.sort_by {|key, value| -value[sort_key][:value]} %>
        <h4>Top Trader <%= sort_names[index] %></h4>
        <dl>
            <% ranks_sorted.each do |rank|%>
                <dt><%= rank[1][sort_key][:rank] %>. <%= rank[1][:name] %></dt>
                <dd 
                    <% if sort_format[index] == 'u' %> 
                        class="u" 
                    <% end %> 
                ><% if sort_format[index] == '%' %><%= format_trend rank[1][sort_key][:value] %><% else %><%= format_u rank[1][sort_key][:value] %><% end %></dd>
            <% end %>	
        </dl>		            
    </div>
    <% end %>
</div>			
