<div id="projection">

	<div id="scroll-container-1" class="scroll-container">
        <div id="scroll-content-1" class="scroll-content" data-step="1">UTOPIA STOCK EXCHANGE <span class="scroll-highlight">18 01 2014 19:30&nbsp;</span></div>
    </div>
	<div id="scroll-container-2" class="scroll-container">
        <div id="scroll-content-2" class="scroll-content" data-step="3">
	
		    <% @stocks.order(:symbol).each do |stock|%>
                <span class="symbol"><%= stock.symbol %></span>
			    <%= stock.name %>
            <% end %>
        </div>
    </div>

	<div id="scroll-container-3" class="scroll-container">
        <div id="scroll-content-3" class="scroll-content" data-step="5">
        
		<% @stocks.order(:symbol).each do |stock|%>
            <% trend = stock.trend %>
			<span class="symbol"><%= stock.symbol %></span>
			<span class="price u"><%= stock.price %></span>
			<span class="percentage"><%= format_trend trend %></span>
			<span class="indicator">
                <% if trend > 0 %>
                    <abbr class="indicator-up">▲</abbr>
                <% elsif trend == 0 %>
                    <abbr class="indicator-neutral">■</abbr>
                <% elsif trend < 0 %>
                    <abbr class="indicator-down">▼</abbr>
                <% end %>                
            </span>
            
		<% end %>

        </div>
    </div>

	<div id="page1" class="page">

		<div class="tile tile1">
			<div id="chart-usx">
			</div>
		</div>

		<div class="tile tile2">
			<div class="roll" data-timer="10000">
				<% @stocks.order(:symbol).each do |s| %>
				<div class="chart" id="chart-<%= s.symbol %>" data-symbol="<%= s.symbol %>" data-id="<%= s.id %>" data-title="<%= s.symbol %>">
				</div>
				<% end %>
			</div>			
		</div>

		<div class="tile tile3 top_stocks">
			<h4>Vertrauen</h4>
            <%= render :partial => 'stock_overview' %>
		</div>

		<div class="tile tile4 top_users">
		    <%= render :partial => 'top_users' %>
		</div>		

	</div>

</div>