<div id="projection" class="auto-reload-market-session">

	<div id="scroll-container-1" class="scroll-container">
        <div id="scroll-content-1" class="scroll-content" data-step="1" data-url="/display/projection_scroll_1">
            <%= render partial: 'projection_scroll_1' %>
        </div>
    </div>
	<div id="scroll-container-2" class="scroll-container">
        <div id="scroll-content-2" class="scroll-content" data-step="3" data-url="/display/projection_scroll_2">
	        <%= render partial: 'projection_scroll_2' %>
        </div>
    </div>
	<div id="scroll-container-3" class="scroll-container">
        <div id="scroll-content-3" class="scroll-content" data-step="5" data-url="/display/projection_scroll_3">
            <%= render partial: 'projection_scroll_3' %>
        </div>
    </div>

	<div id="page1" class="page">
        
		<div class="tile tile1">
			<div id="chart-usx" data-min="<%= @market_session_start_seconds %>" data-max="<%= @market_session_end_seconds %>">
			</div>
		</div>

		<div class="tile tile2">
			<div class="roll" data-timer="4000">
				<% @stocks.order(:symbol).each do |s| %>
				<div class="chart" id="chart-<%= s.symbol %>" data-symbol="<%= s.symbol %>" data-id="<%= s.id %>" data-title="<%= s.symbol %>" data-min="<%= @market_session_start_seconds %>" data-max="<%= @market_session_end_seconds %>">
				</div>
				<% end %>
			</div>			
		</div>

		<div class="tile tile3 top_stocks auto-update" data-url="/display/stock_overview">
            <%= render :partial => 'stock_overview' %>
		</div>

		<div class="tile tile4 top_users roll" data-timer="5000" data-update-after="1" data-url="/display/top_users">
		    <%= render :partial => 'top_users' %>
		</div>		

	</div>

</div>