<div class="utopia-selector" id="utopia-selector-left" rel="<%= @stock.id %>"></div>

<div id="utopia-container">

			
				<h3><%= @stock.name %> (<%= @stock.symbol %>)</h3>
					<div class="utopia-description">
						<p><%= @stock.description %></p>
						<p>Im Handel ab dem 16.01.</p>
					</div>
					<div class="utopist">
						<img src="/assets/portraits/utopist_<%= @stock.symbol %>.png"><br>
						<label class="utopist-name">Eine Utopie von <%= @stock.utopist %></label>
					</div>

</div>

<div class="utopia-selector" id="utopia-selector-right" rel="<%= @stock.id %>"></div>
