
<table>

    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Im Umlauf</th>
        <th>Im Pott</th>
    </tr>


<% Stock.where(:active => true).order('investment ASC').each do |stock| %>


<tr>
    <td>
    <span class="say"><%= stock.symbol.gsub(/(.{1})/, '\1. ') %><%= format_u stock.price %> Uuh</span>
    </td>
    
    <td>
    <span class="say"><%= stock.name %></span>
    </td>
    
    <td><%= stock.utopist.name %></td>
    <td><%= 100 - stock.utopist.portfolio[:stocks][stock.id][:amount] %></td>
    <td><%= stock.utopist.balance %></td>
</tr>

<% end %>
</table>



<% rank = Stock.where(:active => true).count %>
<% Stock.where(:active => true).order('investment ASC').each do |stock| %> 
<span class="say">
Rang <%= rank %>: <%= stock.symbol.gsub(/(.{1})/, '\1. ') %> 
<% rank -= 1 %>
</span>
<% end %>


<p style="margin-top: 200px">
<textarea></textarea><br>
<button type="button" class="say-button">Say it!</button>
</p>