<p>
  <strong>Name:</strong>
  <%= user.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= user.balance %>
</p>

<p>
  <strong>Portfolio:</strong>

  <table>
      <tr>
          <th>Tickersymbol</th>
          <th>Titel</th>
          <th>Anzahl</th>
      </tr>
      
  <% user.portfolio.each do |stock_id, stock_data| %>
        
  <tr>
      <td><%= stock_data[:stock].symbol %></td>
      <td><%= stock_data[:stock].name %></td>
      <td><%= stock_data[:amount] %></td>
  </tr>


  <% end %>

    </table>

</p>

