<h1>Highscores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>cash_in</th>
      <th>balance</th>
      <th>profit_abs</th>
      <th>profit_rel</th>
      <th>num_stocks</th>
      <th>investment_abs</th>
      <th>investment_rel</th>
      <th>value_abs</th>
      <th>value_rel</th>
    </tr>
  </thead>

  <tbody>
    <% @ranks_sorted.each do |rank| %>
      <tr>
        <td><%= rank[1][:name] %></td>
        <td><%= rank[1][:cash_in][:value] %> (<%= rank[1][:cash_in][:rank] %>)</td>
        <td><%= rank[1][:balance][:value] %> (<%= rank[1][:balance][:rank] %>)</td>
        <td><%= rank[1][:profit_abs][:value] %>U (<%= rank[1][:profit_abs][:rank] %>)</td>
        <td><%= rank[1][:profit_rel][:value] %>% (<%= rank[1][:profit_rel][:rank] %>)</td>
        <td><%= rank[1][:num_stocks][:value] %>U (<%= rank[1][:num_stocks][:rank] %>)</td>
        <td><%= rank[1][:investment_abs][:value] %>U (<%= rank[1][:investment_abs][:rank] %>)</td>
        <td><%= rank[1][:investment_rel][:value] %>% (<%= rank[1][:investment_rel][:rank] %>)</td>
        <td><%= rank[1][:value_abs][:value]%>U (<%= rank[1][:value_abs][:rank] %>)</td>
        <td><%= rank[1][:value_rel][:value]%>% (<%= rank[1][:value_rel][:rank] %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
