<h1>Listing transactions</h1>

<table>
  <thead>
    <tr>
      <th>created_at</th>
      <th>Transaction type</th>
      <th>Seller</th>
      <th>Buyer</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Stock</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created_at %></td>
        <td><%= transaction.transaction_type_id %></td>
        <td><%= transaction.seller_id %></td>
        <td><%= transaction.buyer_id %></td>
        <td><%= transaction.price %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.stock_id %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
