<%= render partial: 'menu' %>
<p id="notice"><%= params[:notice] %><%= @notice %></p>

<h1>New utopist to player transaction</h1>

<%= form_for(@transaction, :url => {:action => "create_public"}) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :transaction_type_id, :value => "0" %>
  <%= hidden_field_tag :seller_role, "utopist" %>
  
  <p>
    <%= f.select :seller_id, User.where("role = 'utopist'").order("name").collect {|u| [u.name + ' (' + u.buyer_transactions.first.stock.symbol + ': ' + u.buyer_transactions.first.stock.name + ')', u.id]}, :prompt => "Please select" %>
    VERKAUFT AN 
    <%= f.select :buyer_id, User.where("role = 'player'").order("name").collect {|u| [u.name, u.id]}, :prompt => "Please select" %>
  </p>

  <p>
    <%= f.number_field :amount, :autocomplete => :off %>
    ANTEILE SEINER/IHRER UTOPIE ZUM PREIS VON JE <%= f.number_field :price, :autocomplete => :off %>
  </p>
  
  <p>DAS MACHT INSGESAMT: <span class="total">0</span></p>

  <div class="actions">
    <%= f.submit "TRANSAKTION DURCHFÜHREN" %>
  </div>
<% end %>
